main {
    min-width: 100px;
    max-width: 1600px;
    background-color:aliceblue;
}

nav {
    font-size: 20px;
    background-color:aquamarine;
    text-align:center;
}

body {
    font-family:"Roboto", sans-serif;
}

figure {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    border-color:palegreen;
    border-radius: 3%;
    height:fit-content;
    width:fit-content;
    border-width: 10px;
    border-style: solid;
}

figure > figcaption  {
    text-align: center;
    color: #f08;
}

aside {
    text-align: right;
    text-decoration: overline;
    margin: right 10px;
}

nav

nav li {
    display: inline;
    font-family: "Yusei Magic", sans-serif;
}

li a {
    text-decoration: none;
    background-color:darkslategrey;
    color:rgb(200, 200, 200);
    position:sticky;
}

ul > li {
    display: inline;
    
}

main > ul,ol {
    display:block;
    float:right;
}

audio,video {
    display:block;
    float:right;
}

svg,canvas {
    display: block;
}